<phpunit>
    <php>
        <env name="MONGODB_URI" value="mongodb://mongoquila-db:27017/?serverSelectionTimeoutMS=100"/>
        <env name="MONGODB_DATABASE" value="mongoquila"/>
    </php>

    <testsuites>
        <testsuite name="main">
            <directory>./tests/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>

